.container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.logosSlide {
  width: max-content;
  display: flex;
  flex-direction: row;
  animation: slide infinite 50s linear;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
